@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f0f0f0;
}

.grip {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav {
    background-color: #304353;
}


/* .container h1 {
     margin-left: 20%; 
} */

.nav-bar {
    display: flex;
    text-align: left;
    width: auto;
}

.nav-bar a {
    color: white;
    padding-right: 2rem;
    text-decoration: none;
}

.info {
    margin-top: 2rem;
    /* margin-left: 32rem; */
    /* padding-left: 10rem; */
    background-color: #304353;
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    /* justify-content: center; */
}

.pri-details img {
    height: 400px;
}

.info h2 h3 {
    position: relative;
    left: 30px;
}

.details {
    margin-top: 10%;
    display: flex;
    width: 100vw;
    background-color: #304353;
}

.sec-details {
    margin-top: 5rem;
    padding: 2rem 3rem;
}

.pri-details {
    border: 10px solid #304353;
}

.qua-details {
    display: flex;
    justify-content: space-between;
    /* width: 90vw;  */
}

.qua-background {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to righ, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}

.work-1-2 {
    display: flex;
    justify-content: space-between;
    width: 4px;
    justify-content: center;
    padding-top: 3rem;
}

.work-2-3 {
    display: flex;
    justify-content: space-between;
    width: 1rem;
    padding-top: 3rem;
}

.work-background {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to righ, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.foot-1 {
    background-color: #304353;
}

.work_1,
.work_2,
.work_3 {
    border: 2px solid #304353;
    padding-left: 5px;
}